.pet-show-card {
    width: 60%;
    display: block;
    background-color: lightblue;
    padding: 1rem;
}

.pet-show-general-information {
    display: flex;
    flex-direction: row;
}

.pet-show-picture {
    width: 40%;
    max-height: 40%;
    height: auto;
    border-radius: 6px;
    margin: 1rem
}

.pet-show-info {
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    margin: auto 0 auto 0;
    color: #333
}

.pet-show-name {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: black
}

.pet-show-details {

    margin-bottom: 1rem;
}

.pet-show-age,
.pet-show-height,
.pet-show-weight,
.pet-show-color {
    margin: 0 1rem;
}

.pet-show-bio {
    color: #333;
}

.pet-show-food-restrictions {
    margin-left: 2rem;
    color: #333;
}

.pet-show-user-status-restrictions {
    flex-direction: row;
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
    color: black;
    margin: 0 auto 0 auto;
}

.buttonsDiv {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.pet-show-button {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.pet-show-edit-button {
    background-color: #ddd;
    color: #333;
    background-color: orange;
    border: none;
}

.pet-show-adopt-button {
    background-color: green;
    color: #fff;
}

.pet-show-foster-button {
    background-color: blue;
    color: #fff;
}

.pet-show-delete-button {
    background-color: red;
    color: #fff;
}

.pet-show-adopted {
    color: green;
    font-weight: bold;
    text-align: center;
}

.pet-show-available {
    color: blue;
    font-weight: bold;
    text-align: center;
}

.fostered {
    color: purple;
    font-weight: bold;
    text-align: center;
}

.show-pet-RequestMessage {
    display: flex;
    flex-direction: row;
    text-align: center;
    color: black;
    margin-top: 1rem;
    justify-content: center;
}

.show-pet-text-message {
    margin: auto 0 auto 0
}