.search-users-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: orange;
    border-radius: 6px;
    align-items: baseline;
    align-self: baseline;
    margin-bottom: 1rem;
}