.search-pets-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: orange;
    border-radius: 6px;
    align-items: baseline;
    align-self: baseline;
    width: 100%;
    margin-bottom: 1rem;
}

.iconsInputs {
    display: flex;
    flex-direction: row;
}

.specie {
    width: 9rem;
    margin-right: .5rem;
}

.breed {
    width: 9rem;
    margin-right: .5rem;
}

.name {
    width: 9rem;
    margin-right: .5rem;
}

.status {
    width: 8rem;
    margin-right: .5rem;
}

.age {
    width: 6rem;
    margin-right: .5rem;
}

.height {
    width: 6rem;
    margin-right: .5rem;
}

.weight {
    width: 6rem;
    margin-right: .5rem;
}

.color {
    width: 8rem;
    margin-right: .5rem;
}

.searchButton {
    margin-top: auto;
    align-self: baseline;
}