.pet-card {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 5px gray;
}

.pet-picture {
    width: 220px;
    max-height: 270px;
    min-height: 240px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #01579B;
}

/* Pet information */
.pet-info {
    flex: 1;
}

/* Pet name */
.pet-name {
    color: brown;
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Pet details */
.pet-details {
    color: gray;
    font-size: 0.9em;
    margin-bottom: 10px;
}

/* Pet footer */
.pet-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
    font-size: 0.9em;
    margin-top: 10px;
}

.buttonsDiv {
    margin: 0 auto 0 auto;
}

.Fostered {
    color: black;
}

.Available {
    color: green;
}

.Adopted {
    color: red
}

/* Pet user */
.pet-user {
    color: green;
}

/* Buttons */
.pet-button {
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    font-size: 0.9em;
    background-color: white;
    color: gray;
}

.show-button {
    background-color: orange;
    color: #fff;
}


.adopt-button {
    background-color: green;
    color: #fff;
}

.save-button {
    background-color: green;
    color: #fff;
    align-self: flex-end;
}

.foster-button {
    background-color: blue;
    color: #fff;
}

.edit-button {
    background-color: #ddd;
    color: #333;
}

.delete-button {
    background-color: red;
    color: #fff;
}

.unsave-button {
    background-color: red;
    color: #fff;
    margin-left: auto;
}

.pet-button:hover {
    /* background-color: #3579f6; */
    color: #ffffff;
    /* border: none; */
    /* border-radius: 5px; */
    /* padding: 10px; */
    /* transform: translateY(-1px); */
    cursor: pointer;
    font-weight: bolder;
}


.pet-card.available {
    background-color: lightblue;
}

/* Adopted pet */
.pet-card.adopted {
    background-color: lightblue;
}

/* Status */
.pet-status.available {
    color: green;
}

.pet-status.adopted {
    color: black;
}

.pet-card {
    /* Harmonious color palette */
    background-color: #B3E5FC;
    /* light blue */
    border: 1px solid #01579B;
    /* dark blue */
    color: #01579B;
    /* dark blue */
}

.requestStatus {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.requestMessage {
    margin: auto 0 auto 0
}

.save-button {
    margin-left: auto;
}

.pet-saved {
    color: green
}

.side-by-side {
    width: 100%;
    display: flex;
}