* {
  /* border: solid 1px red; */
}

body {
  margin: 0;
  background-color: #17202b;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #9b9d9f;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}

a:active {
  text-decoration: none;
  cursor: pointer;
  color: #9b9d9f;
}

textarea {
  resize: none;
  border: none;
  outline: none;
}

textarea::placeholder {
  color: #9b9d9f;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  width: 70%;
  border-radius: 5px;
  background-color: #353a3f;
  margin-bottom: 20px;
  top: 0;
  position: sticky
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  text-decoration: none;
  width: 100%;
  align-items: center;
}

li {
  color: #ffffff;
  text-decoration: none;
  border: none;
  padding: 20px;
}

.create-pet {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 1rem;
}

.create-pet-border {
  border: #ffffff solid 1px;
  border-radius: 3px;
  padding: 5px;
}

.create-pet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pet-textarea {
  background-color: #17202b;
  display: flex;
  width: 99%;
  color: #ffffff;
}

.create-pet-message-box {
  display: flex;
  align-items: center;
}

.warning-span {
  display: flex;
  background-color: #f3d9da;
  border-radius: 5px;
  color: #692326;
}

.pet-button {
  background-color: #3579f6;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 7px;
}

.pet-button:hover {
  background-color: #3579f6;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 7px;
  transform: translateY(-1px);
  cursor: pointer;
}

.pet-button:active {
  background-color: #3579f6;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 7px;
  transform: translateY(2px);
}

.pet-list {
  /* display: flex; */
  gap: 1rem;
  /* margin-bottom: 10px; */
  /* width: 50%; */
}

.pet-row {
  /* display: flex; */
  margin-bottom: 1rem;
  /* margin-bottom: 10px; */
  /* width: 50%; */
}

.pet-card {
  background-color: #353a40;
  border-radius: 5px;
  /* height: 270px; */
  padding: 1rem;
  word-break: break-all;
}

.upper-footer {
  display: flex;
  justify-content: space-between;
  color: #9b9d9f;
}

.pet-body {
  display: flex;
}

.profile-container {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.profile-title-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.username-text-box {
  background-color: #17202b;
  border: solid 1px #ffffff;
  border-radius: 5px;
  outline: none;
  padding: 1rem;
  color: #ffffff;
}

.profile-button-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 1rem;
}

.save-profile-button {
  background-color: #3579f6;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 7px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.save-profile-button:hover {
  background-color: #3579f6;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 7px;
  transform: translateY(-1px);
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
}

.save-profile-button:active {
  background-color: #3579f6;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 7px;
  transform: translateY(2px);
  padding-left: 1rem;
  padding-right: 1rem;
}

.loader {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
  margin-left: 2rem;
}

.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #FFF;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #FF3D00;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }
}

.active {
  opacity: 100%;
}

.modal {
  color: black
}

.alignRight {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  justify-items: right;
}